.WeatherBlock {
    max-width: 1000px;
    width: 100%;
    margin: auto 10px;
    text-align: center;
    font-size: 14px;
}

.WeatherBlock-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.WeatherBlock-city {
    font-size: 36px;
}

.WeatherBlock-times td {
    text-align: right;
    padding: 0 5px;
}

.WeatherBlock-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px auto;
}

.WeatherDay {
    margin: 10px 15px;
}

.WeatherDay-date {
    font-size: 16px;
}

.WeatherDay div {
    margin: 10px auto;
}

.WeatherDay-icon img {
    height: 60px;
}

.WeatherDay-info {
    text-align: left;
    padding: 5px 0px;
}

.wind .dir {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 5px;
    background: url(https://www.metaweather.com/static/img/windarrow.svg);
    background-size: 100% 100%;
}

.bold {
    font-weight: 700;
}

.loader-container {
    display: block;
    width: 100%;
    margin-bottom: 100px;
}

.loader {
    border: 8px solid lightgrey;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); border-top: 8px solid lightgrey; border-bottom: 16px solid dimgrey; }
    20% { transform: rotate(0deg); border-top: 8px solid lightgrey; }
    50% { border-top: 16px solid dimgrey; border-bottom: 8px solid lightgrey; }
    80% { transform: rotate(0deg); border-bottom: 8px solid lightgrey; }
    100% { transform: rotate(360deg); border-top: 8px solid lightgrey; border-bottom: 16px solid dimgrey; }
}